<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796938949800-jpf1q91hg1e13aid3s140v1mrnaigto2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796938949800-jpf1q91hg1e13aid3s140v1mrnaigto2</string>
	<key>API_KEY</key>
	<string>AIzaSyC2xeVzWMH1pRmImw1u3woNlcODQhDBx7U</string>
	<key>GCM_SENDER_ID</key>
	<string>796938949800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applierapp</string>
	<key>PROJECT_ID</key>
	<string>applier-29b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>applier-29b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796938949800:ios:d997b2f2e56cb27856de9d</string>
</dict>
</plist>